<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AkinUM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/akin.css' %}">
</head>

<body>
    <header>
        <img src="/static/images/logo_akinator.png" alt="">
    </header>
    <div id="question_div">
        <div id="questionGenius">
            <img src="/static/images/main_dani.png" alt="">
        </div>
        <div id="questionPlace">
            <div id="questionNumber">
                <div id="number">{{number}}</div>
            </div>
            <p id="questionText">{{question}} </p>
        </div>
        <div id="answers" >
            <form class=form_answer_2 action="{% url 'akinator-question' %}" method="post">
                {% csrf_token %}
                {{ form.s1_q5_resin_type }}
                <button id="yes" type="submit" name="yes" value="Si">
                    Si
                </button>
            </form>

            <form class=form_answer_2 action="{% url 'akinator-question' %}" method="post">
                {% csrf_token %}
                {{ form.s1_q5_resin_type }}
                <button id="no" type="submit" value='No' name = "no">
                    No
                </button>
            </form>
        </div>
    </div>
    
    <footer>

    </footer>
</body>

</html>